*{
	margin: 0px;
	padding: 0px;
}	
#header {
    width: 100%;
	//border: 1px solid black;
	height: 450px;
}
#pic {
    line-height:30px;
    background-color:#eeeeee;
    height:500px;
    width:250px;
    float:left;
    padding:5px;	      
}
#main {
    width:100%; 	 
}

#contact{
	padding-right:50px;
	padding-left:30px;
	padding-top:30px;
	display:block;
	float:left;
}
    
#footer {
    background-color:white;
    color:white;
    clear:both;
    text-align:center;
 	 
}

#navbar{
	//border: 1px solid black;
	color: white;
	width: 100%;
	font-family: Arial;
	background-color: #222;
}

#navbar_list{
	padding: 5px 0px;
}

#navbar_list li{
	display: inline;
	padding: 5px;
}

#navbar_list li:hover{
	cursor: pointer;
	background-color: #CCC;
	color: black;
}

.cover_photo{
	width: 100%; 
	height: 450px;
}

#dropdown{
	background-color: #000;
	width: 200px;
	float: left;
	z-index: 9999;
	position: absolute;
	margin-left: 62px;
	opacity: 0.9;
	color: white;
	display: none;
}

#dropdown ul{
	list-style-type: none;
}

#dropdown ul li{
	padding: 5px;
	font-family: arial;
}

#dropdown ul li:hover{
	cursor: pointer;
	background-color: #CCC;
	color: #000;
}

#content{
	padding: 30px 100px 150px 100px;
}


.dark h1 { color:#fff !important;}

	h1, h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	line-height: 1.1;
	margin-bottom: 14px;
	margin-top: 14px;
	color:#555;
	}

h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	line-height: 1.1;
	margin-bottom: 14px;
	margin-top: 14px;
	}
	
div.orbit-wrapper h1, div.orbit-wrapper h2, div.orbit-wrapper h3, div.orbit-wrapper h4, div.orbit-wrapper h5, div.orbit-wrapper h6 {
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	line-height: 1.1;
	margin-bottom: 14px;
	margin-top: 14px;
	}
	
.custom h1, .custom h2 {
	width:100%;
	padding: 12px;
	background-color: #F68B33;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #FFF;
	font-size:26px;
}

.custom h3 {
width:100%; 
text-indent:-99999px; 
font-size:1%; } 

.custom h4 {color: #F68B33; 
text-transform: uppercase; 
font-family: Arial, Helvetica, sans-serif; 
font-size: 16px; 
font-weight: bold;
}

.custom p, .custom li {
font-size:16px;
}

.container-content, .masthead, .container-dark { width:100%;
background-color: #F8F8F8;
background-image: url(C:\Users\PC\Documents\SEM 2 NEW\IMAGES\bg-content-wrap.jpg);
background-repeat: repeat-x;
padding-top: 25px;
padding-bottom: 5px;



		